name: kebabify - Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  AZURE_FUNCTIONAPP_NAME: 'kebabify-api'
  DOTNET_VERSION: '9.0.x'
  OUTPUT_PATH: ${{ github.workspace }}/publish

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: 'Setup DotNet ${{ env.DOTNET_VERSION }} Environment'
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
    - name: Restore dependencies
      run: dotnet restore Kebabify.slnx
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Test
      run: dotnet test --configuration Release --collect:"XPlat Code Coverage" --verbosity normal
      
    - name: Publish
      run: dotnet publish Kebabify.Api/Kebabify.Api.csproj -c Release --output ${{ env.OUTPUT_PATH }}

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: kebabify-api
        path: ${{ env.OUTPUT_PATH }}
        if-no-files-found: error

    - name: Extract Coverage Percent
      shell: pwsh
      run: |
        # Search for the result file generated by Coverlet
        $filePath = (Get-ChildItem -Recurse -Filter coverage.cobertura.xml | Select-Object -First 1).FullName
        if (-not $filePath) { throw "Coverage file not found!" }
        
        $report = [xml](Get-Content $filePath)
        
        # Explicitly cast to double to handle decimal points correctly
        $lowRate = [double]$report.coverage.'line-rate'
        $percent = [Math]::Floor($lowRate * 100)
        
        echo "COVERAGE_PERCENTAGE=$percent" >> $env:GITHUB_ENV

    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 989c8b5ae41991d482f24f7cf42f741a
        filename: kebabify-api-coverage.json
        label: Coverage
        message: "${{ env.COVERAGE_PERCENTAGE }}%"
        # Dynamic color logic: Red if < 60, Orange if < 80, Green otherwise
        valColorRange: ${{ env.COVERAGE_PERCENTAGE }}
        maxColorRange: 100
        minColorRange: 0

  deploy:
    runs-on: ubuntu-latest
    needs: build # Ensures deploy only runs if build/test passes
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: kebabify-api

      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: '.'