name: kebabify - Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore Kebabify.slnx
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: Publish
      run: dotnet publish Kebabify.Api/Kebabify.Api.csproj -c Release -o api

    - name: Extract Coverage Percent
      shell: pwsh
      run: |
        # Find the coverage file
        $report = [xml](Get-Content $(Get-ChildItem -Recurse -Filter coverage.cobertura.xml | Select-Object -First 1).FullName)
        
        # Get the line-rate attribute from the root <coverage> tag
        $lowRate = $report.coverage.'line-rate'
        
        # Convert to percentage (e.g., 0.85 -> 85)
        $percent = [Math]::Floor($lowRate * 100)
        
        # Save it to the GitHub Environment for the next step
        echo "COVERAGE_PERCENTAGE=$percent" >> $env:GITHUB_ENV

    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: YOUR_GIST_ID_HERE
        filename: coverage.json
        label: Coverage
        message: ${{ env.COVERAGE_PERCENTAGE }}%
        color: green

